{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agendar Cita</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.fecha) }}
        <button class="btn">Enviar</button>
    {{ form_end(form) }}
{% endblock %}
